#navbar {
  background-color: rgb(97, 59, 201);
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 27px;
}

#navbar a:hover {
  background-color: #ddd;
  color: rgb(13, 102, 5);
}


@media only screen and (max-width: 400px){
    

    label{
        width: 80px;
    }
    
    tabs-container{
        width: 80px;
        background-color: chartreuse;

    }

    table{

        
        width: auto;
    }

    tab-content{

        width: 190px;
        font-size: 1rem;
    }

    

    
}

.HOD{
  float: right;
}
   

.card1 {
  box-shadow: 50px 2px 10px  rgba(230, 8, 8, 0.2);
  max-width: 200px;
  margin-right: 50px;
  margin-top: 240px;
  text-align: center;
  font-family: arial;
  
  
  
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}