
.books{
    background-color: brown;

    margin-top: 200px;
    width: 900px;
    margin-left: 200px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  @media screen {

    .books{
        margin-top: 300px;
        margin-left: auto;
        width:auto;
        backface-visibility: hidden;
    }
      
  }