#navbar {
  background-color: rgb(68, 18, 206);
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 27px;
}

#navbar a:hover {
  background-color: #ddd;
  color: rgb(13, 102, 5);
}


@media only screen and (max-width: 400px){
    

    .label{
        width: 120px;
    }
    .tabs-container{
        width: 120px;

    }

    .table{

        
        width: 50%;
    }

    .tab-content{

        width: 190px;
        font-size: 1rem;
    }

    
}
   